main {
  border: 5px solid brown;
  width:25%;

}
body{
    font-size:2em;
}
header{
    font-size: 2em;
}
h1{
     font-size: 32px;
}

section{
    border: 5px dashed green;
    width: 50vw;
}
