@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,800;0,900;1,900&family=Roboto:ital,wght@0,700;1,900&family=Ubuntu:wght@700&display=swap');
body{
     font-family: 'Verdana', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    
}
p{
    font-size: 1.2rem;
    font-weight: 600;
    font-weight: 900;
    font-style: italic;
}