body {
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: #0000a8;
  background-color: #ebebeb;
}
article {
  background-color: #4a4e69;
  padding: 40px;
  margin: 40px;
}
